<header>
    <h1>Menu</h1>
</header>
<div class="glitchButton" style="position:fixed;top:20px;right:20px;background:white;border-radius:10%;padding: 0.2em;">
</div>
<nav>
    <a href="#article1">
        <h6 class="menuHeading">Popular Drink</h6>
    </a>
    <a href="#article2">
        <h6 class="menuHeading">Hot Drinks</h6>
    </a>
    <a href="#article3">
        <h6 class="menuHeading">Cold Drinks</h6>
    </a>
</nav>
<div class="container">
    <h1>Cart</h1>

    <div id="cart" class="center-align">


    </div>
</div>
<main>
    <article id="article1"> {{>articles/article1}}</article>
    <article id="article2"> {{>articles/article2}}</article>
    <article id="article3"> {{>articles/article3}}</article>
</main>

<script src="/assets/js/script.js"></script>