<!-- Checkout Page -->
<div class="container">


</div>


<!-- Modal Trigger -->
<button data-target="orderConfirm" class="btn brown modal-trigger">Thank you!</button>
<!--_________________-->

<!-- Modal Structure -->
<div id="orderConfirm" class="modal">
    <div class="modal-content">
        <h4>Thank you for your order!</h4>
        
    </div>
    <div class="modal-footer">
    <hr>
    Coffee Express!
    </div>
</div>

</div>
</div>
</div>
</div>
<!--_________________-->
<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Team JavaScript -->
<script src="/assets/js/drinks.js"></script>