<!-- Checkout Page -->
<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Materialize JavaScript-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!-- Team JavaScript -->
{{!-- <script src="/assets/js/drinks.js"></script> --}}


<div class="container" id="checkout">

    <!-- Back button -->
    <div class="row">
        <a class="btn brown darken-4 waves-effect back-btn" href="/"><i class="material-icons">arrow_back</i></a>
    </div>
    <!--_____________-->

    <!-- ******************* -->
    <br>
    <button id="getCart" class="btn brown darken-4 waves-effect modal-trigger">Get Cart
        <i class="material-icons right">send</i>
    </button>

    <!-- ******************* -->

    <!-- Order Total -->
    <div class="row">
        <div class="col s6 offset-s3">
            <div class="row">
                <h2 class="center-align text-brown darken-4">Your order includes: 
                    <br><span id="itemsOrdered">Drink 1</span>
                </h2>
                <h3 class="center-align text-brown darken-4">Your total is: $<span id="total">4.99</span></h3>
            </div>
        </div>
    </div>
    <br>
    <br>
    <!--_____________-->
</div>
<div class="container">
    <!-- Request a song -->
    <div class="row request">
        <div class="row center-align">
            <h6 class="text-brown darken-4">Request a song</h6>
        </div>
        <div class="input-field col s6 offset-s3">
            <i class="material-icons music prefix text-brown darken-4">audiotrack</i>
            <input id="songName" type="text" class="validate">
            <label class="active" for="songName">Song Name</label>
            <button data-target="requestSong" class="btn brown darken-4 waves-effect modal-trigger" id="songButton">Search Song
                <i class="material-icons right">audiotrack</i>
            </button>
        </div>
    </div>

    <div class="center-align">
        <!-- Dropdown Trigger -->
        <a class="dropdown-trigger btn brown darken-4 waves-effect modal-trigger" id="selectSong" href="#" data-target="dropdown1">Select Song</a>

        <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content" style="width: 500px">
            {{!-- <li><a href="#!">one</a></li> --}}
        </ul>
    </div>

    <!--_________________-->

    <!-- Modal Trigger -->
    <div class="center-align">
        <button data-target="orderConfirm" class="btn brown darken-4 waves-effect modal-trigger" id="att">Submit
            <i class="material-icons right">send</i>
        </button>
    </div>
    <br>
    <br>
    <br><br>
    <br>
    <br>
    <br><br>

    <div class="container"></div>
    <!--_________________-->



    <!-- Modal Structure -->
    <div id="orderConfirm" class="modal">
        <div class="modal-content center-align">
            <h4>Thank you for your order!</h4>
            <h4>Your order # is: <span id="orderNum"></span></h4>
        </div>
        <div class="modal-footer">
            <hr>
            <p class="center-align">Coffee Express!</p>
        </div>
    </div>
    <!--_________________-->

</div>
</div>
<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Materialize JavaScript-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!-- Team JavaScript -->
{{!-- <script src="/assets/js/drinks.js"></script> --}}