<div class="container">
  {{!-- <nav class = "nav-extended">
    <div class="nav-wrapper">
      <div class="brand-logo center">Coffee Express</a>
      </div>
      </div>
      </nav> --}}

  <div class="row">
    <div class="col-8 offset-2">
      <h1>{{msg}}</h1>
      <h2>Welcome To Coffee Express!!</h2>
      <h5>Please Login to Order</h5>
    </div>
    <div class="login">
      <div class="row">

        <div class="col s5">
          <div class="card white">
            <div class="card-content black-text">
              <span class="card-title">Login for Returning Customers</span>
              <form id="custlogin">
                <div class="input-field">
                  <input id="custEmail" type="email" class="validate">
                  <label for="custEmail">Enter your Email</label>
                </div>

                <button class="btn brown waves-effect" id="custSubmit" type="submit" name="action">Submit
                  <i class="material-icons right">send</i>
                </button>
              </form>
              <div id="new-customer">
                <!-- Modal Trigger -->
                <button data-target="newAccount" class="btn brown modal-trigger">New Customer Sign Up</button>
                <!--_________________-->

                <!-- Modal Structure -->
                <div id="newAccount" class="modal">
                  <div class="modal-content">
                    <h4>New Customer Sign Up</h4>
                    <form id="newcust">
                      <div class="input-field">
                        <input id="newName" type="text" class="validate">
                        <label for="newName">Name</label>
                      </div>
                      <div class="input-field">
                        <input id="newEmail" type="email" class="validate">
                        <label for="newEmail">Email Address</label>
                      </div>
                      <button class="btn brown waves-effect"  id="newSubmit" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                      </button>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <hr>
                    Welcome to Coffee Express!
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!--_________________-->
        <div class="col s5">
          <div class="card white">
            <div class="card-content black-text">
              <span class="card-title">Login for Guest</span>
              <form id="guestlogin">
                <div class="input-field">
                  <input id="guestName" type="text" class="validate">
                  <label for="guestName">Name</label>
                </div>
                <button class="btn brown waves-effect waves-light"  id="guestSubmit" type="submit" name="action">Submit
                  <i class="material-icons right">send</i>
                </button>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- jQuery JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- System JavaScript -->
  <script src="/js/index.js"></script>
  <!-- Team JavaScript -->
  <script src="/assets/js/drinks.js"></script>