<!-- Menu / Order Page -->
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card white">
                <div class="card-content black-text">
                    <div id="profile"></div>
                    <span>
                        <h5 class="black-text darken-4 right-align">Order from Order History</h5>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card white">
                <div class="card-content black-text">
                    <span class="card-title">Cart</span>
                    <div id="cart"></div>
                    <br>
                    <p><a class="brown darken-4 btn-small">Submit Order <i
                                class="material-icons right">add_shopping_cart</i></a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col s6">
            <div class="card white">
                <div class="card-content black-text">
                    <span class="card-title">Drink Menu (Cold)</span>
                    <div id="menu">
                        <table>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Product</th>
                                    <th>Size</th>
                                    <th></th>
                                    <th>Price</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each products}}
                                <tr>
                                    {{#unless check_hot}}
                                    {{> drinks/menu-cold}}
                                    {{/unless}}
                                    {{/each}}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s6">
            <div class="card white">
                <div class="card-content black-text">
                    <span class="card-title">Drink Menu (Hot)</span>
                    <div id="menu">
                        <table>
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Product</th>
                                    <th>Size</th>
                                    <th></th>
                                    <th>Price</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                {{#each products}}
                                <tr>
                                    {{#if check_hot}}
                                    {{> drinks/menu-hot}}
                                    {{/if}}
                                    {{/each}}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container"></div>
<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Materialize JavaScript-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!-- Team JavaScript -->
<script src="/assets/js/drinks.js"></script>