<nav>
    <ul id="menuNav">
        <li><a href="#welcomePage">Welcome</a></li>
        <li><a href="#hotDrinks">Hot Drinks</a></li>
        <li><a href="#coldDrinks">Cold Drinks</a></li>
    </ul>
</nav>

<main>
    <article id="welcomePage">
        <p>This will be the welcome page.</p>
        <p>For returning customers, their order history will be displayed here.</p>
        <p>New customers will be shown popular drinks.</p>
        <p></p>
        <!-- <form>
                Enter song request
                <input type="text" id="songToSearch">
                <button type="submit" id="submit">Submit</button>
            </form> -->
    </article>
    <article id="hotDrinks">
        <p>The list of hot drinks will go here.</p>
    </article>
    <article id="coldDrinks">
        <p>Cold drinks will be listed here.</p>
    </article>
</main>