<!-- Big Board Page -->
<div class="container">

    <div class="row row1">
        <div class="section col m6 pending">
            <h6 class="center-align">Preparing... <img src="./assets/img/coffeeCup.png" height="40px"></h6>
        </div>
        <div class="section col m6 ready">
            <h6 class="center-align">Ready! <img src="./assets/img/coffeeCup.png" height="40px"></h6>
        </div>
    </div>

    <div class="row row2">
        <div class="section col m6" id="pendingOrders">
            <p>Drink #4 - Name, Order#</p>
            <p>Drink #5 - Name, Order#</p>
            <p>Drink #6 - Name, Order#</p>
            <p>Drink #7 - Name, Order#</p>
            <p>Drink #8 - Name, Order#</p>
            <p>Drink #9 - Name, Order#</p>
            <p>Drink #10 - Name, Order#</p>
        </div>
        <div class="section col m6" id="readyOrders">
            <p>Drink #1 - Name, Order#</p>
            <p>Drink #2 - Name, Order#</p>
            <p>Drink #3 - Name, Order#</p>
        </div>
    </div>

    <div class="section spotify center-align" id="nowPlaying">
        <h6>Song Playing on Spotify</h6>
    </div>

</div>
<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Materialize JavaScript-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!-- Team JavaScript -->
<script src="/assets/js/drinks.js"></script>