<div class="container text-brown darken-4">
  {{!-- <span class="card-title">Drink Menu (Hot)</span> --}}
  <h4>Hot Menu</h4>
  <div id="menu">
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Product</th>
          <th>Size</th>
          <th></th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        {{#each products}}
        <tr>
          {{#if check_hot}}
          {{> drinks/menu-hot}}
          {{/if}}
          {{/each}}
        </tr>
      </tbody>
    </table>
  </div>
</div>


