* {
      box-sizing: border-box;
}

body { 
    background: url("../img/coffeebackground.png") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: rgb(58, 37, 37);
}

.footer-copyright {
      padding: 10px;
      text-align: center;
}

#index {
      background: url("../img/smile.jpg") no-repeat center fixed;
      background-size: cover;
      padding: 20px 20px 80px 20px;
}

h1, h2 {
      color:white;
      text-align: center;
      font-family: 'Lobster', cursive;
      font-weight: bolder;
}

h5 {
      color:white;
      text-align: center;
      font-family: 'Lobster', cursive;
}

.login {
     padding:20px;
     margin-left: 60px;
}

.btn {
      margin-top: 10px;
}

.modal-close{
    color:white;
}