* {
      box-sizing: border-box;
      margin:0;
      padding:0;
}

body { 
      background: url("../img/coffeebackground.png") no-repeat fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      color: rgb(58, 37, 37);
}

.footer-copyright {
      position: relative;
      bottom: 0;
      left:0;
      height: 45px;
      text-align: center;
      width: 100%;
      padding-top:10px;
      text-align: center;
      margin-top:-10px;
      clear: both;
}


#index {
      background: url("../img/smile.jpg") no-repeat center fixed;
      background-size: cover;
      padding: 20px 20px 400px 20px;
     
}

h1, h2 {
      text-align: center;
      font-family: 'Pacifico', cursive;
}

h3, h4, h5 {
      font-family: 'Pacifico', cursive;
}

h6 {
      font-family: 'Pacifico', cursive;
      font-size: 2em;
}

#profile h3 {
      font-size: 3em;
}

p {
      font-size: 2em;
}

.login {
      padding:20px;
      margin-left: 60px;
}

.btn {
      margin-top: 10px;
      font-family: 'Spinnaker', sans-serif;
}

.btn:hover {
      background: #8d6e63;
}
  
.btn:focus {
      background: #5d4037;
}

#checkout {
      width: 100%;
}

#itemsOrdered {
      font-size: .65em;
}

.print-text {
      font-family: 'Spinnaker', sans-serif;
}

.back-btn {
      float: left;
      top: 50px;
      left: 50px;
}

.modal-close{
      color:white;
}

.hidden {
      visibility: hidden;
}

.music, .input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label {
      color:  #3e2723 !important;
}
   
.input-field input[type=text]:focus, .input-field input[type=email]:focus {
      border-bottom: 1px solid  #3e2723 !important;
      box-shadow: 0 1px 0 0  #3e2723 !important;
}
  
.music, .input-field input[type=text] + label, .input-field input[type=email] + label {
      color: #a1887f !important;
}
  
.input-field input[type=text], .input-field input[type=email] {
      border-bottom: 1px solid rgb(116, 85, 85) !important;
      box-shadow: 0 1px 0 0 rgb(116, 85, 85) #2B2B2B !important;
}

.input-field input[type=text].valid, .input-field input[type=email].valid {
      border-bottom: 1px solid #3e2723;
      box-shadow: 0 1px 0 0 #3e2723;
}

label:active {
      color: #a1887f;
}

.section {
      border: 1px solid #3e2723;
}

.row1 {
      margin-top: 10px;
}

.row2 {
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      align-items: stretch;
}

.drkBrn {
      color: rgb(58, 37, 37)
}

#songButton {
      right: -105%;
      bottom: 50px; 
}

#selectSong {
      margin-top: -5%;
}

.card-content {
      background-color: #efebe9;
}

.menuHeading {
      line-height: .5em;
}

#orderHistory {
      margin-bottom: 5px;
}


/* html,body {
      width: 100%;
      height: 100%;
      margin: 0;
  } */
  /* body {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: min-content min-content 1fr;
  } */
  main {
      display: grid;
      grid-template-rows: 1fr;
      grid-auto-flow: column;
      grid-auto-columns: 100%;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
  }
  main > article {
      scroll-snap-align: start;
  }
  ul#menuNav {
      width: 100%;
      display: table;
  }
  ul#menuNav li {
      display: table-cell;
      width: 33.333%;
  }
  nav a {
      display: block;
      border: 1px solid #3e2723;
      text-align: center;
      background: #8d6e63;
  }
  nav {
      background: #795548;
  }
  
 thead {
      font-family: 'Spinnaker', sans-serif;
      font-size: 1.75em;
 }
 tbody {
      font-family: 'Spinnaker', sans-serif;
 }